{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/department.css') }}">{% endblock %}

{% block title %}
    Department
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="header-wrapper">
            <h2>{{ department.department_name }} department</h2>
            <p>{{ department.department_organisation }}</p>
            <p>Number of employees: {{ number_of_employees }} </p>
            <p>Department average salary: {{ department.avg_salary }} </p>
        </div>

        <div class="table-wrapper">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"><a href="/department/{{ department.department_uuid }}/f1">
                        <button type="button" class="btn btn-link">Employee name</button>
                    </a>
                    </th>
                    <th scope="col"><a href="/department/{{ department.department_uuid }}/f2">
                        <button type="button" class="btn btn-link">Employee salary</button>
                    </a>
                    </th>
                    <th scope="col"><a href="/department/{{ department.department_uuid }}/f3">
                        <button type="button" class="btn btn-link">Date of birth</button>
                    </a>
                    </th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% if employee_list|length > 0 %}
                    {% for el in employee_list %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ el.employee_name }}</td>
                            <td>{{ el.employee_salary }}</td>
                            <td>{{ el.employee_date_of_birth }}</td>
                            <td>
                                <div class="buttons">
                                    <a class="edit-button" href="/department/{{ el.department_uuid }}/edit">
                                        <button class="btn btn-outline-primary" type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-pen" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
                                            </svg>
                                            <span class="visually-hidden">Button</span>
                                        </button>
                                    </a>

                                    <button class="btn btn-outline-primary del-button" type="button"
                                            data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                            <path fill-rule="evenodd"
                                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                        </svg>
                                        <span class="visually-hidden">Button</span>
                                    </button>
                                </div>

                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete department</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body">Are you sure you want to delete department?</div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <a class="edit-button" href="/department/{{ el.department_uuid }}/del">
                                                    <button type="submit" class="btn btn-danger">Delete department
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}